
.listasection img{
    margin: 0;
    padding: 0px 0px 0px;
    width: 30%;
    position: relative;
    left: 140px;
    top: -95px;
    display: flex;
}
    

/* Base */
.menuList{
    padding: 1em;
    margin: -1em -1em 0px -1em;
    background-color: #888;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
    justify-content: center;
}

/* Caja */
 .listasection .menuList li{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 35px 70px 40px;
    border-radius: 25px;
    background: linear-gradient(-50deg, #1c0769,  #741b8a);
    box-shadow: 0px 10px 15px rgba(177, 167, 33, 0.5);
    text-align: center;
    min-height: 120px;
    padding: 0.5em;
    margin-left: 1px;
    margin-bottom: 4px;
    flex-basis: 45%;
    justify-content: center;
    align-items: center;
    border: solid rgba(60, 170, 115, 0.849) 1px;
    transition: all 0.5 ease;

}

.title{
    color: white;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.nombre{
    color: white;
    font-size: 30px;
    border: solid rgba(46, 49, 47, 0.849) 2px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}

.precio{
    color: white;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* Precio */
.listasection .menuList li span{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #000;
    margin: 0.5em;
}

/* Boton  */
a.buttom {
    display: inline-block;
    margin-top: 2px;
    padding: 10px 15px;
    background: linear-gradient(40deg, #1c0769, #741b8a);
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    font-size: 22px;
}

buttom:hover{
    transform: scale(1.0);
}

