table{
  border-spacing: 0px;
  width: 100%;
}

.table td, .table th{
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td {
  padding: .3em 1em;
  font-size: 1.1em;
  margin: 0 .2em;
}

.table tr:hover{
  background-color:#06d6a0 ;
}

.table .thead-dark th{
  color: rgb(255, 255, 255);
  background-color:rgba(57, 19, 107, 0.842) ;
  border-color: rgb(57, 19, 107);
}
a{
  color:  rgb(141, 15, 15);
}
