.mensection img{
    margin: 0;
    padding: 0px 0px 0px;
    width: 30%;
    position: relative;
    left: 140px;
    top: -95px;
    display: flex;
}
    
.menuList{
    padding: 1em;
    margin: -1em -1em 0px -1em;
    background-color: #888;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
}

 .mensection .menuList li{
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.25em;
    flex-basis: 45%;
    min-height: 120px;
    background-color: #fff;
    border-bottom: 1px solid #333;
}