.logoex{
    margin: 0;
    padding: 0px 0px 0px;
    width: 70%;
    position: relative;
    left: 60px;
    top: -50px;
    display: flex;
}

.formulario{
    position: relative;
    left: 0;
    top: -90px;

}

.botones{
    position: relative;
    left: 0;
    top: 10px;   
}

.PR{
    color: black;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.img-container {
 width : 100% ;
 height: 50%;
}
  
  .contenedor .img-container  img {
    
    height: 50%;
  }