button {
  border: 1px Solid rgba(148, 130, 172, 0.842);
  background-color: #fff;
  outline: none;
  padding: 1em 1.5em;
  border-radius: 27px;
  font-weight: bold;
  margin:1em 0.5em;
}

.btnround{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 7px #000;
  width:4em;
  height:4em;
}

.btnaccent{
  background-color: rgb(83, 12, 150);
  color: rgba(254, 253, 255, 0.842);
}

.btnprimary{
  background: linear-gradient(50deg, rgb(83, 12, 150),rgb(191, 114, 201));
  color: rgba(254, 253, 255, 0.842);
  transition:  all 300ms;
}

.btnsecondary{
  background: linear-gradient(50deg, rgb(83, 12, 150),rgb(191, 114, 201));
  color: rgba(254, 253, 255, 0.842);
  transition:  all 300ms;
}

.btnprimary .btnsecondary:hover{
  transform:  translateY(10px);
  box-shadow: 0px 30px 5px -15px rgba(0, 0, 0, 0) ;
}
